@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #F0F0D8;
  font-family: 'Patrick Hand SC', cursive;
}
.main-ui {
  padding: 2rem;
  z-index: 25;
  position: relative;
}
.image-wrapper {
  width: 100%;
  pointer-events: none;
}

.responsive-image,
.overlay-img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  z-index: 2;
  position: relative;
}

.disclaimer {
  position: relative;
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-family: sans-serif;
}

.flash-image {
 position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none; /* Start with the image hidden */
  z-index: 10;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}


* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F0F0D8;
  font-family: 'Patrick Hand SC', cursive;
}
h1 {
  margin-top: -5rem;
  text-align: center;
  color: #41403E;
  font-size: 3rem;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
}
section button {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all .5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}
section button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.lined.thick {
  border: solid 7px #41403E;
}
button.dotted.thick {
  border: dotted 5px #41403E;
}
button.dashed.thick {
  border: dashed 5px #41403E;
}
button.lined.thin {
  border: solid 2px #41403E;
}
button.dotted.thin {
  border: dotted 2px #41403E;
}
button.dashed.thin {
  border: dashed 2px #41403E;
}

@media (max-width: 620px) {
  h1 {
    margin-top: 2rem;
  }
  section {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  section button {
    align-self: center;
    margin-bottom: 2rem;
  }
}

#navButtons button {
  position: relative;
  color: coral;
  font-size: 2rem;
  font-family: 'Patrick Hand SC', cursive;
  text-shadow: 2px 2px #000;
  z-index: 20;
  padding: 0.5em 1em;
}

#selectednavButtons button {
  position: relative;
  color: lightseagreen;
  font-size: 2rem;
  font-family: 'Patrick Hand SC', cursive;
  text-shadow: 2px 2px #000;
  z-index: 20;
  padding: 0.5em 1em;
}
.navigationButton {
  position: relative;
  color: coral;
  font-size: 1.6rem;
  font-family: 'Patrick Hand SC', cursive;
  text-shadow: 2px 2px #000;
  z-index: 20;
  padding: 0;
  background: transparent;
  border: none;
}

.navigationButton.selected {
  color: lightseagreen;
}

.candy-display {
  position: relative;
  top: -65%;
  right: -20%;
  color: #FFCC00;
  font-size: 3rem;
  font-family: 'Patrick Hand SC', cursive;
  text-shadow: 2px 2px #000;
  z-index: 20;
  padding: 0.5em 1em;
 
}
@media (max-width: 768px) {
  .candy-display {
    font-size: 10vw; /* Make the font bigger on smaller screens */

  }
}

/* Initial visible state */
#navMenu {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 10px 0;
  
}

/* Collapsed state */
#navMenu.collapsed {
  max-height: 0;
  padding: 0;
}
#cookieWrapper {
  position: relative;
  width: 120px; /* Or whatever size you want */
  height: 120px;
  overflow: hidden; /* Optional: trims edges if sizes mismatch */
}

#selectedCookie, #hungerColorImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* or whatever specific size */
  height: auto;
  z-index: 1;
}

#selectedCookie {
  z-index: 22; /* On top */
}

#hungerColorImage {
  z-index: 21; /* Behind */
}
#inventoryTable {
  width: 100%;
  border-collapse: collapse;
}

#inventoryTable td, #inventoryTable th {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

#inventoryTable th {
  background-color: #f4f4f4;
}
