body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
}

.disclaimer {
  position: relative;
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-family: sans-serif;
}

.flash-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none; /* Start with the image hidden */
  z-index: 10;
}


.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}
