@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: none
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none
}

.disclaimer {
  position: relative;
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-family: sans-serif;
}

.flash-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none; /* Start with the image hidden */
  z-index: 10;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}


* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F0F0D8;
  font-family: 'Patrick Hand SC', cursive;
}
h1 {
  margin-top: -5rem;
  text-align: center;
  color: #41403E;
  font-size: 3rem;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
}
section button {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all .5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}
section button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.lined.thick {
  border: solid 7px #41403E;
}
button.dotted.thick {
  border: dotted 5px #41403E;
}
button.dashed.thick {
  border: dashed 5px #41403E;
}
button.lined.thin {
  border: solid 2px #41403E;
}
button.dotted.thin {
  border: dotted 2px #41403E;
}
button.dashed.thin {
  border: dashed 2px #41403E;
}

@media (max-width: 620px) {
  h1 {
    margin-top: 2rem;
  }
  section {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  section button {
    align-self: center;
    margin-bottom: 2rem;
  }
}

.circular-button {
  position: absolute;
  top: 80%; /* adjust for where you want it */
  left: 50%;
  transform: translate(-40%, -60%);
  width: 280px;
  height: 240px;
  border-radius: 50%;
  font-size: 0.8rem;
  background: transparent;
  border: dotted 5px #41403E;
  color: #41403E;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
  z-index: 10; /* make sure it's on top */
}
